@model GolfWeb.Models.GolfRound

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GolfRound</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GolfCourse.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GolfCourse.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Golfer.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Golfer.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Index)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Index)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoundTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoundTime)
        </dd>
    </dl>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Scores.FirstOrDefault().GolfHoleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scores.FirstOrDefault().Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scores.FirstOrDefault().FairwayAccuracy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scores.FirstOrDefault().ApproachAccuracy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scores.FirstOrDefault().Putts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scores.FirstOrDefault().FirstPuttLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scores.FirstOrDefault().MadePuttLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scores.FirstOrDefault().Chip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scores.FirstOrDefault().Pitch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scores.FirstOrDefault().Sand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scores.FirstOrDefault().Penalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scores.FirstOrDefault().RoundID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Scores)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GolfHole.GolfHoleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FairwayAccuracy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApproachAccuracy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Putts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstPuttLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MadePuttLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pitch)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Penalty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoundID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "HoleScores", new { id = item.HoleScoreID },null) |
                    @Html.ActionLink("Details", "Details", "HoleScores", new { id = item.HoleScoreID }, null) |
                    @Html.ActionLink("Delete", "Delete", "HoleScores", new { id = item.HoleScoreID }, null)
                </td>
            </tr>
        }
        </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GolfRoundID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
