@model GolfWeb.Models.GolfCourse

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>GolfCourse</h4>
        <h4>Course: @Model.Name</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.GolfCourseID)
       

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseSlope, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseSlope, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseSlope, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseRating, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseRating, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseRating, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>
        
        
          <div class="form-horizontal">
              <div class="col-xs-4">
                  @Html.DisplayNameFor(model => model.Holes.FirstOrDefault().HoleNum)
              </div>
              <div class="col-xs-4">
                  @Html.DisplayNameFor(model => model.Holes.FirstOrDefault().Par)
              </div>
              <div class="col-xs-4">
                  @Html.DisplayNameFor(model => model.Holes.FirstOrDefault().Handicap)
              </div>
          </div>
                
                for(int i = 0; i < Model.Holes.Count(); i++)
                {
                   

                            <div class="form-horizontal">
                    <div class="col-xs-4">
                        @Html.DisplayFor(model => model.Holes[i].HoleNum)
                        @Html.HiddenFor(model => model.Holes[i].GolfCourseID)
                        @Html.HiddenFor(model => model.Holes[i].HoleNum)
                    </div>
                    <div class="col-xs-4">
                        <div class="form-inline">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    @Html.EditorFor(model => model.Holes[i].Par, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Holes[i].Par, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                </div>
                    <div class="col-xs-4">
                        <div class="form-inline">
                            <div class="form-group">
                                <div class="col-xs-6">
                                    @Html.EditorFor(model => model.Holes[i].Handicap, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Holes[i].Handicap, "", new { @class = "text-danger" })
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    }

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
